# DATABASE_URL=sqlite:///./sql_app.db
# DATABASE_URL=postgresql://user:password@postgresserver/db
# DATABASE_URL= mysql+pymysql://user:password@mysqlserver/db
 DATABASE_URL=postgresql://posgresql:test1234@localhost:5432/valcredit